<html>

<head>
  <title>COWAROBOT AutoPilot</title>
  <style>
    .content{
      display: -webkit-flex;
      display: flex;
    }
    .leftContent{
      -webkit-flex:1;
      flex: 1;
    }
     .leftContent>img{
      display: block;
      border: 1px solid gray;
    }
    .rightContent{
      -webkit-flex:1;
      flex: 1;
    }
    .rightContent>img{
      width: 100%;
      display: block;
      height: 340px;
      border: 1px solid gray;
    }
  </style>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>

<body>
  <div class="content">
    <div class="leftContent">
         <canvas id="map" style="background-image: url(../static/map.png);width: 100%; height: 684px;"></canvas>
         <script type="text/javascript" charset="utf-8">
            var canvasList = document.getElementById('map');
            var canvas = document.createElement('canvas');
            canvasList.appendChild(canvas);
            canvas.width = 600; //☜
            canvas.height = 600;    
            var context=canvasList.getContext("2d");
            var width=600,height=600;
            var c,d;
            var radius=1;
            //创建构造函数Circle
            function Circle(x,y,radius){
              this.xx=x;//在画布内随机生成x值
              this.yy=y;  
              this.radius=radius; 
            };
            Circle.prototype.radiu=function(){
                radius += 0.5; //每一帧半径增加0.5
                if (this.radius > 3) {
                    radius = 0;
                };         
            };
            // 绘制圆形的方法
            Circle.prototype.paint=function(){
                context.beginPath();
                context.arc(this.xx,this.yy,this.radius,0,Math.PI*2);
                context.closePath();
                context.lineWidth = 2; //线条宽度
                context.strokeStyle = '#9093DB'; //颜色
                context.stroke();       
            };  
            //  创建
            var newfun = null;
            function createCircles(x, y){ 
                   
              newfun= new Circle(x ,y,radius);//调用构造函数
              newfun.paint();
           
              newfun.radiu();  
            };
                
            // 创建临时canvas 
            var backCanvas = document.createElement('canvas'),
                backCtx = backCanvas.getContext('2d');
                backCanvas.width = width;
                backCanvas.height = height;        
                //设置主canvas的绘制透明度
                context.globalAlpha = 0.95;
                //显示即将绘制的图像，忽略临时canvas中已存在的图像
                backCtx.globalCompositeOperation = 'copy';
                
            function render(x, y){
                //先将主canvas的图像缓存到临时canvas中
                backCtx.drawImage(canvas, 0, 0, width, height);        
                //清除主canvas上的图像
                context.clearRect(0, 0, width, height);
                //在主canvas上画新圆
                createCircles(x, y);
                //等新圆画完后，再把临时canvas的图像绘制回主canvas中
                context.drawImage(backCanvas, 0, 0, width, height);
            };
            ///websocket connect
            var socket = io.connect();

            socket.on('connect', function() {
                socket.emit('connect_event', {data: 'connected!'});
            })

            socket.on('server_response', function(msg) {
                c = msg.pos[0];
                d = msg.pos[1];
                console.log(msg)
            });
            
            setInterval("render(c,d)", 70);
        </script>
    </div>

    <div class="rightContent">
      <img src="http://123.206.211.163:5001/video_feed">
      <img src="http://123.206.211.163:5002/video_feed">
    </div>
  </div>
</body>

</html>