<html>

<head>
  <title>COWAROBOT AutoPilot</title>
  <style>
    .content{
      display: -webkit-flex;
      display: flex;
    }
    .leftContent{
      -webkit-flex:1;
      flex: 1;
    }
     .leftContent>img{
      width: 100%;
      display: block;
      height: 680px;
      border: 1px solid gray;
    }
    .rightContent{
      -webkit-flex:1;
      flex: 1;
    }
    .rightContent>img{
      width: 100%;
      display: block;
      height: 340px;
      border: 1px solid gray;
    }
  </style>
</head>
s
<body>
  <div class="content">
    <div class="leftContent">
       <img src="{{ url_for('static', filename='map.jpg') }}">
    </div>
    <div class="rightContent">
      <img src="{{ url_for('video_feed1') }}">
      <img src="{{ url_for('video_feed2') }}">
    </div>
  </div>
</body>

</html>